body {
    background-color: #222222;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #ebebeb;
  }
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar_div {
    justify-content: center;
    display: flex;
    flex-grow: 1;
  }
  .navbar_home {
    display: flex;
    padding: 10px;
  }
  .navbar_home a {
    text-decoration: none;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #ebebeb;
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  .navbar_home a:hover {
    color: #9f05b7;
    transform: scale(1.05);
  }
  .dataSecurity, .dsec{
    text-align: left;
    margin: 10px;
    margin-right: 0px;
  }
  #logo{
    padding: 10px 15px;
    display: inline-block;
    line-height: normal;
    height: auto;
    display: flex;
    width: 20%;
    flex-basis: 20%;
    margin-right: 0;
  }
  #logo img{
    width: 20%;
  }
  #theme{
    padding: 10px 15px;
    line-height: normal;
    height: auto;
    display: flex;
    justify-content: right;
    flex-basis: 20%;
    margin-right: 0;
  }
  #theme button{
    background-color: #555;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  #theme button:hover{
    background-color: #9f05b7;
    transform: scale(1.05);
  }
  h3 {
    font-size: 28px;
    margin-bottom: 0px;
  }
  .titleH3 {
    margin-top: 0;
    font-size: 1.8em;
    color: #ebebeb;
  }
  h4 {
    font-size: 22px;
    margin-bottom: 0px;
    text-align: center;
  }
  .titelH4 {
    font-size: 1.2em;
    color: #ebebeb;
    margin-bottom: 10px;
  }
  p {
    font-size: 18px;
    text-align: center;
  }
  #titleImg {
    align-self: center;
    margin: 20px 0;
  }
  #titleImg img {
    border-radius: 8px;
    width: 35%;
    margin: 0 auto;
  }
  button {
    background-color: #917BB8;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  button a {
    text-decoration: none;
    color: #d1c3eb;
  }
  button:hover {
    background-color: #9b82c7;
  }
  #titleImg {
    text-align: center;
    margin: 20px 0;
  }
  .footerLinks {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  #descrip {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: #453D52;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  #descrip h3 {
    margin: 20px;
    text-align: center;
  }
  #game2Img {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  #game2Img div {
    margin: 0 10px;
    transition: transform 0.3s ease;
  }
  #game2Img div:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  #game2Img img {
    border-radius: 8px;
    width: auto;
  }
  #syst h3 {
    margin: 20px;
    text-align: center;
  }
  #systDiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-self: center;
    width: auto;
    margin: 20px;
    background-color: #453D52;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  #MinMaxDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #min h4,
  #rec h4 {
    text-align: center;
  }
  #min li,
  #rec li {
    font-size: 18px;
  }
  #MLT {
    margin: 20px;
    text-align: center;
  }
  .MLTlink {
    display: inline-block;
    width: 30%;
    margin: 10px;
    background-color: #453D52;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .MLTlink img {
    width: 100%;
    border-radius: 8px;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  #contact-title {
    text-align: center;
    margin-top: 50px;
  }
  #contact-title p {
    text-align: center;
  }
  #contact-form {
    border: 2px solid #2c2c2c;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }
  .form-group input {
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #2c2c2c;
  }
  .form-group textarea {
    width: 100%;
    padding: 0px 0px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #2c2c2c;
    resize: none;
  }
  #inprint {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  #impressum,
  #EUdr,
  #imgCr {
    background-color: #453D52;
    border: 1px solid #3b3446;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #c4afeb;
  }
  .titel,
  .titel p {
    text-align: center;
  }
  #providers {
    display: flex;
    justify-content: space-around;
  }
  #ImJ,
  #ImN {
    margin-top: 15px;
    margin-right: 10px;
    justify-content: center;
  }
  #allGames {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }
  .game {
    display: inline-block;
    width: 75%;
    margin: 10px;
    background-color: #453D52;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-content: center;
    text-align: center;
  }
  .gameImg img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .gameDesc {
    margin-top: 10px;
  }
  .gameDesc p {
    font-size: 14px;
    text-align: center;
  }
  #newGames,
  #newAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #newAdd h2,
  p,
  #newGames h2,
  p {
    text-align: center;
  }
  .ngame,
  .ragame {
    display: inline-block;
    width: 50%;
    margin: 10px;
    background-color: #453D52;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-content: center;
    text-align: center;
  }
  .ngame img,
  .ragame img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .newrelol {
    border-radius: 8px;
    padding: 10px;
    margin: 20px 0;
  }
  .newrelol ol {
    list-style-type: none;
    padding: 0;
  }
  .newrelol li {
    background-color: #6B5C85;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
  }
  .newrelol li:hover {
    background-color: #917BB8;
  }
  .gMonth {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gameContent {
    width: 50%;
    margin: auto;
    background-color: #453D52;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }
  .gMonthIMG img {
    width: 70%;
    border-radius: 5px;
  }
  .paragraph {
    font-size: 16px;
    color: #ebebeb;
    margin: 15px 0;
  }
  #featured {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fegame {
    display: inline-block;
    width: 50%;
    margin: 10px;
    background-color: #453D52;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-content: center;
    text-align: center;
  }
  .fegame img {
    width: 70%;
    border-radius: 5px;
  }
  #JK,
  #NS {
    margin: 20px auto;
    padding: 20px;
    background-color: #453D52;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
  }
  #JKdesc p,
  #NSdesc p {
    margin: 10px 0;
    color: #ebebeb;
  }
  .footerLinks a {
    text-decoration: none;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #ebebeb;
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  .footerLinks a:hover {
    color: #9f05b7;
    transform: scale(1.05);
  }
  @media (max-width: 768px) {
    body {
      font-size: 16px;
    }
    #header {
      flex-direction: column;
      padding: 10px;
    }
    .navbar_div {
      flex-direction: column;
      align-items: center;
    }
    .navbar_home a {
      margin: 10px 0;
    }
    .navbar_home{
      gap: 1rem;
    }
    #logo {
      width: 350px;
      justify-content: center;
      margin: 10px 0;
    }
    #titleImg img {
      width: 80%;
    }
    #descrip {
      width: 90%;
      flex-direction: column;
    }
    #game2Img div {
      margin: 10px 0;
      text-align: center;
    }
    #game2Img {
      display: block;
    }
    #game2Img {
      margin: 0 10px;
    }
    #systDiv {
      flex-direction: column;
    }
    #MinMaxDiv {
      flex-direction: column;
    }
    .MLTlink {
      width: 80%;
    }
    #contact-form {
      width: 90%;
    }
    #allGames {
      grid-template-columns: 1fr;
    }
    .game {
      width: 90%;
    }
    .gameImg img{
      width: 90%;
    }
    .ngame,
    .ragame,
    .fegame {
      width: 90%;
    }
    .fegame img {
      width: 90%;
    }
    .gameContent {
      width: 90%;
    }
    .gMonthIMG img {
      width: 90%;
    }
    #systDiv {
      flex-direction: column;
    }
    #MinMaxDiv {
      flex-direction: column;
    }
    .MLTlink {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 480px) {
    #header {
      flex-direction: column;
      padding: 10px;
    }
    .navbar_div {
      flex-direction: column;
      align-items: center;
    }
    .navbar_home a {
      font-size: 14px;
      margin: 10px 0;
    }
    #logo {
      width: 200px;
      justify-content: center;
      margin: 10px 0;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
    .navbar_home a {
      font-size: 14px;
    }
    button {
      padding: 8px 12px;
    }
    #titleImg img {
      width: 100%;
    }
    .MLTlink {
      width: 100%;
    }
    #contact-form {
      width: 100%;
    }
    .game,
    .ngame,
    .ragame,
    .fegame {
      width: 100%;
    }
    .gameImg img{
      width: 100%;
    }
    .fegame img {
      width: 100%;
    }
    .gameContent {
      width: 100%;
    }
    .gMonthIMG img {
      width: 100%;
    }
    #game2Img div {
      margin: 10px 0;
      text-align: center;
    }
    #game2Img {
      display: block;
    }
    #game2Img {
      margin: 0 10px;
    }
    #descrip,
    #syst,
    #MLT {
      padding: 10px;
    }
    .MLTlink h3 {
      font-size: 1.2em;
    }
    .MLTlink p {
      font-size: 0.9em;
    }
    footerLinks a{
      font-size: 12px;
    }
  }
  
  