.navbar_home {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.navbar_home a {
    text-decoration: none;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar_home a:hover {
    color: #9f05b7;
    transform: scale(1.05);

}



.footerLinks {
    padding: 20px;
    display: flex;
    justify-content: center;

}

.footerLinks a {
    text-decoration: none;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footerLinks a:hover {
    color: #9f05b7;
    transform: scale(1.05);
}
