body {
    background-color: color(183, 154, 235)
}

.gMonth,
#f1,
#f2,
#f3 {
    height: 250px;
    width: 800px;
    display: flex;
}

.gMonth {
    display: flex;
    justify-content: center;
}

#placeholderSize {
    width: 350px;
    height: 200px;
}

#f1img,
#f2img,
#f3img {
    width: 250px;
    height: 150px;
}

#JK,
#NS {
    height: 250px;
    width: 800px;
    display: flex;
}
h1,h2,h3,h4,p{
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

.navbar_home {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.navbar_home a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar_home a:hover {
    color: #9f05b7;
    transform: scale(1.05);

}

.footerLinks {
    padding: 20px;
    display: flex;
    justify-content: center;

}

.footerLinks a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footerLinks a:hover {
    color: #9f05b7;
    transform: scale(1.05);
}

#logo {
    color: #007bff;
}

#info {
    display: flex;
}
#changeCssButton {
    position: absolute; /* Position it absolutely */
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
}